<%= form_with(model: vaccination, local: true) do |form| %>
  <% if vaccination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vaccination.errors.count, "error") %> prohibited this vaccination from being saved:</h2>

      <ul>
      <% vaccination.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.select :vacc_id, options_from_collection_for_select(Vacc.order(:title).all, "id", "title", params[:vacc_id]) %>
  </div>

  <div class="field">
    <%= form.label :received %>
    <%= form.text_area :received, id: :vaccination_received %>
  </div>

  <div class="field">
    <%= form.label :expiration %>
    <%= form.text_area :expiration, id: :vaccination_expiration %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<!-- :title, id: :vaccination_title
 -->