<%= form_with(model: vaccination, local: true) do |form| %>
  <% if vaccination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vaccination.errors.count, "error") %> prohibited this vaccination from being saved:</h2>

      <ul>
      <% vaccination.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% @vaccs.count.times do %>

    <div class="field">
      <%= form.label :title %>
      <%= collection_select(:vaccination, :vacc_id, Vacc.all, :id, :title, {}, { :multiple => false }) %>
    </div>

    <div class="field">
      <%= form.label :received %>
      <%= form.text_area :received, id: :vaccination_received %>
    </div>

    <div class="field">
      <%= form.label :expiration %>
      <%= form.text_area :expiration, id: :vaccination_expiration %>
    </div>

  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<!-- :title, id: :vaccination_title
 -->

 